@font-face{
    font-family:"Stratum2";
    src:url("https://cdn.akamai.steamstatic.com/apps/csgo/fonts/Stratum2WebRegular.eot");
    src:url("https://cdn.akamai.steamstatic.com/apps/csgo/fonts/Stratum2WebRegular.eot?#iefix") 
    format("embedded-opentype"),url("https://cdn.akamai.steamstatic.com/apps/csgo/fonts/Stratum2WebRegular.woff") 
    format("woff"),url("https://cdn.akamai.steamstatic.com/apps/csgo/fonts/Stratum2WebRegular.woff2") 
    format("woff2");
    font-style:normal
}

body {
    background-color: #15171B;
    font-family: Stratum2,"Comic Sans MS";
    color: white;
    text-align: center;
    font-size: 16px;
}

select {
    margin: 1%;
}

.button {
    background-color: #04AA6D; /* Green */
    border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Stratum2,"Comic Sans MS";
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    display: none;
    color: red;
}

.ct {
    background-color: #58768E;
    border-color: #0C0F12;
}
.ct:hover {
    background-color: #6588A3;
}

.ct:active {
    background-color: #87B7DB;
}

.t {
    background-color: #CBBA7B;
    border-color: #473F32;
}
.t:hover {
    background-color: #D3BF83;
}
.t:active {
    background-color: #E0CB8D;
}
.generic {
	border-color: #000000;
}
.generic:hover {
	background-color: #04BF79;
}
.generic:active {
	background-color: #05EB95;
}

#searchbar {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}